* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
}

body {
  background-color: #1b1b1b;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 100vh;
  width: 99%;
}

.card_container {
  background-color: hsl(235, 46%, 20%);
  border-radius: 10px;
  height: 400px;
  width: 200px;
  color: hsl(235, 45%, 61%);
}
.upper {
  height: 70%;
  color: white;
  padding: 0px;
  background-color: hsl(246, 80%, 60%);
  border-radius: 10px;
}

.upper img {
  width: 86px;
  height: 86px;
  margin-top: 24px;
  margin-left: 18px;
  border: 3px solid white;
  border-radius: 50%;
}
.report {
  padding-top: 20px;
  padding-left: 10px;
  margin: 10px;
  font-size: 12px;
  color: rgb(255 255 255 / 49%);
}
.Jeremy {
  padding-left: 10px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 25px;
  color: rgb(255 255 255 / 85%);
}

.lower {
  background-color: hsl(235, 46%, 20%);
  height: 18%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}


.lower Button{
  margin: .5em 0;
        background: transparent;
        text-align: left;
        outline: none;
        border: none;
        font-size: 1em;
        letter-spacing: .5px;
        cursor: pointer;
        margin-left: 2px;
 }

.lower_text {
  margin: 13px;
  color: hsl(0, 1%, 72%);
}

#weekly {
  color: white;
}

.categorie_container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  color: white;
}

.card {
  border-radius: 10px;
  width: 200px;
  height: 190px;
}
.card_img {
  width: 100%;
  height: 25%;
  background-color: hsl(15, 100%, 70%);
  border-radius: 10px;
  position: relative;
  z-index: -1;
}

.card_img img {
  height: 100%;
  margin-left: 70%;
}
.work_container {
  margin-top: -10px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  background-color: hsl(235, 46%, 20%);
  height: 80%;
  width: 100%;
  border-radius: 10px;
}
.work {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border-radius: 10px;
}
.work img {
  height: 10%;
  width: 10%;
  margin: 10px;
}

.hours {
  font-size: 28px;
  margin: 10px;
  padding-left: 20px;
}

.last_week {
  font-size: 12px;
  color: hsl(235, 45%, 61%);
  padding-left: 25px;
}

.card_play_img {
  width: 100%;
  height: 25%;
  background-color: hsl(195, 74%, 62%);
  border-radius: 10px;
  position: relative;
  z-index: -1;
}

.card_play_img img {
  height: 100%;
  margin-left: 70%;
}

.dashboard_container {
  margin-top: -10px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  background-color: hsl(235, 46%, 20%);
  height: 80%;
  width: 100%;
  border-radius: 10px;
}
.card_study_img {
  width: 100%;
  height: 25%;
  background-color: hsl(348, 100%, 68%);
  border-radius: 10px;
  position: relative;
  z-index: -1;
}

.card_study_img img {
  height: 100%;
  margin-left: 70%;
}

.dashboard_container {
  margin-top: -10px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  background-color: hsl(235, 46%, 20%);
  height: 80%;
  width: 100%;
  border-radius: 10px;
}
.card_exercise_img {
  width: 100%;
  height: 25%;
  background-color: hsl(145, 58%, 55%);
  border-radius: 10px;
  position: relative;
  z-index: -1;
  overflow: hidden;
}

.card_exercise_img img {
  height: 100%;
  margin-left: 70%;
}
.dashboard_container {
  margin-top: -10px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  background-color: hsl(235, 46%, 20%);
  height: 80%;
  width: 100%;
  border-radius: 10px;
}

.card_social_img {
  width: 100%;
  height: 25%;
  background-color: hsl(264, 64%, 52%);
  border-radius: 10px;
  position: relative;
  z-index: -1;
}

.card_social_img img {
  height: 100%;
  margin-left: 70%;
}
.dashboard_container {
  margin-top: -10px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  background-color: hsl(235, 46%, 20%);
  height: 80%;
  width: 100%;
  border-radius: 10px;
}
.card_self-care_img {
  width: 100%;
  height: 25%;
  border-radius: 10px;
  position: relative;
  z-index: -1;
  background-color: hsl(43, 84%, 65%);
}

.card_self-care_img img {
  height: 100%;
  margin-left: 70%;
}
.dashboard_container {
  margin-top: -10px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  background-color: hsl(235, 46%, 20%);
  height: 80%;
  width: 100%;
  border-radius: 10px;
}
@media only screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .card_container {
    width: 85vw;
    height: 200px;
  }
  .upper {
    display: flex;
    align-content: stretch;
  }
  .mobile_name {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
  }
  .report {
    height: 30px;
    width: 100px;
  }
  .name {
    display: flex;
    font-weight: 300;
    font-size: 25px;
    color: rgb(255 255 255 / 85%);
  }
  .Jeremy {
    display: none;
  }
  .lower {
    flex: 1;
    display: flex;
    background-color: var(--Neutral-Dark-blue);
    padding-left: 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .categorie_container {
    display: flex;
    flex-direction: column;
    height: 50%;
  }
  .card {
    width: 85vw;
    height: 20vh;
  }
  .work img {
    width: auto;
  }
  .work_small {
    display: flex;
    justify-content: space-around;
  }
  .last_week {
    padding-top: 17px;
    font-size: 18px;
  }
}

@media only screen and (min-width: 600px) {
  .name {
    display: none;
  }
}
